@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

body{
    font-family: 'Titillium Web', 'sans-serif';
    text-transform: initial;
    margin: 0px;
    margin-bottom: 20px;
    
}
html{
    scroll-behavior: smooth;
}
#header{
    text-align: center;
    padding-left: 10%;
}
svg{
    padding-top: 20px;
    padding-right: 30px;
}
#navbar{
    background-color: slategray;
    border-color: snow;
    border-style: solid;
    border-radius: 10px 10px 0px 0px;
    margin-left: 6px;
    color: azure;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

header{
    padding-left: 2%;
    display: flex;
}

#nav-list{
    list-style: none;
    line-height: 2rem;
    padding: 0px;
}

.listlink a:hover{
    background-color:  azure;
    color:slategray;
}

.nav-link{
    border-top: 2px snow solid;
    color: beige;
    display: block;
    border-radius: 5px 5px 0px 5px;
}
a{
    text-decoration: none;
}
#main-doc{
    margin: 5%;
}
.scp{
    background-color: slategray;
    padding: 5px;
    border-radius: 5px;
}
